# <span style="color:#0F19C9">Contents</span>

- [Initial exploration](#initial-exploration)
- [Fixing problems](#fixing-problems)
- [Improving the data](#improving-the-data)

# <span style="color:#0F19C9">Initial Exploration</span>

In [18]:
# Import needed libraries
import pandas as pd

In [19]:
# Read raw file with data and show two random rows
df = pd.read_csv('../Data/Raw/music_project_en.csv')
df.sample(2)

,userID,Track,artist,genre,City,time,Day
43608,B0BA4461,Football et poésie pt. 2,Matthieu Chedid,pop,Springfield,08:01:21,Monday
49514,CDE328F8,Bye Bye Love,NaN,pop,Springfield,20:17:21,Monday

In [20]:
# Show the general information of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

# <span style="color:#0F19C9">Fixing problems</span>

- Make sure the column names are correctly written and correct mean.
- Make sure the rows are well written on every column

In [21]:
# Fix bad spaces, capital letters and mean manually
df.columns = ['User_ID', 'Track', 'Artist', 'Genre',
              'City', 'Hour_of_Play', 'Day_of_the_Week']
df.columns

Index(['User_ID', 'Track', 'Artist', 'Genre', 'City', 'Hour_of_Play',
       'Day_of_the_Week'],
      dtype='object')

In [22]:
# Write 10 samples of the first four columns
df[['User_ID', 'Track', 'Artist', 'Genre']].sample(10)

        User_ID                       Track                Artist       Genre
23727  F0CF11C1                Autumn Dream                 Joyce   classical
29673  3AD83567                    Unstable              Chaotica        rock
24201   23F6CE9   Have A Little Faith In Me            John Hiatt         pop
28644  55D3CE3D               This Is a Way            David Choi         pop
46318  C5CE21AB             I Need Somebody           Emma Muscat         pop
42597  B4910255  The Final Thing on My Mind   The Pineapple Thief        rock
27924  708216EC                   Automatic            Dead Disco        rock
35164  EE36C51B      Take Me Into Your Skin          Trentemöller  electronic
54107  9E1B2FEF                 Rapper Shot            Don Streat         rap
34669  D8F9AEEE                Conrad Tokyo  A Tribe Called Quest         rap

In [23]:
# Count unique records and null values of the columns
for col in ['User_ID', 'Track', 'Artist', 'Genre']:
    print(
        f'The column {col} has {df[col].nunique()} unique and {df[col].isna().sum()} null values.')

The column User_ID has 41748 unique and 0 null values.
The column Track has 39666 unique and 1343 null values.
The column Artist has 37806 unique and 7567 null values.
The column Genre has 268 unique and 1198 null values.

The columns `User_ID` has 41.748 unique records of 8 characters, some of them are 7 but we asume the first number is 0 and that there are no problems with the format.

The track, artist name and genre correspond to the way the distributor filled the form. We are more concerned with the way that we found many null values, that we are going to fill later.

In [24]:
# Write 10 samples of the column 'Genre'
df['Genre'].sample(10)

55645        pop
4804      rusrap
21207    country
41729     ruspop
53788      indie
60284      indie
11292    rusrock
55053      local
4257       dance
18017    holiday
Name: Genre, dtype: object

In [25]:
# Search for implicit duplicates
df['Genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop',
       'historisch', 'holiday', 'hop', 'horror', 'house', 'idm',
       'independent', 'indian', 'indie', 'indipop', 'industrial',
       'inspirational', 'instrumental', 'international', 'irish', 'jam',
       'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop',
       'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin',
       'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic',
       'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative',
       'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican',
       'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb',
       'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage',
       'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera',
       'orchestral', 'other', 'piano', 'pop', 'popelectronic',
       'popeurodance', 'post', 'posthardcore', 'postrock', 'power',
       'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk',
       'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae',
       'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm',
       'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop',
       'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self',
       'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow',
       'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern',
       'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf',
       'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester',
       'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional',
       'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical',
       'türk', 'türkçe', 'urban', 'uzbek', 'variété', 'vi', 'videogame',
       'vocal', 'western', 'world', 'worldbeat', 'ïîï', nan], dtype=object)

In [26]:
# Change the genres of 'hip' and 'hop' for 'hiphop'
df['Genre'].replace({'hip': 'Hip-Hop',
                     'hop': 'Hip-Hop',
                     'hiphop': 'Hip-Hop'},
                    inplace=True)

We had to change the format and write the first letter of the genre in capital letters. And we search for explicit duplicates when we found the word `hip` as a genre.

In [27]:
# Write 10 samples of the three last columns
df[['City', 'Hour_of_Play', 'Day_of_the_Week']].sample(10)

              City Hour_of_Play Day_of_the_Week
46428  Springfield     21:17:38          Monday
17168  Springfield     08:25:31          Friday
46661  Shelbyville     20:08:23          Friday
27640  Springfield     14:16:47          Friday
16078  Shelbyville     21:55:09       Wednesday
50110  Shelbyville     08:40:07          Friday
3704   Shelbyville     14:22:08          Friday
49279  Springfield     09:25:48          Friday
9140   Springfield     13:20:27          Friday
3501   Shelbyville     08:58:18          Monday

The last three columns have no problem. Maybe we will have to change the type of data later, but it is not something that require our attention now.

# <span style="color:#0F19C9">Improving the data</span>

We will fix the null values, the duplicates and finally improve the type of data for each column.

In [28]:
# Sum null values from the DataFrame
df.isna().sum()

User_ID               0
Track              1343
Artist             7567
Genre              1198
City                  0
Hour_of_Play          0
Day_of_the_Week       0
dtype: int64

In [29]:
# Fill null values of 'Track', 'Artist' and 'Genre
df.fillna('Unknown', inplace=True)

In [30]:
# Search for problem duplicates
print(' We will drop {} duplicates'.format(
    df.duplicated(subset=['User_ID', 'Hour_of_Play']).sum()))
df.drop_duplicates(subset=['User_ID', 'Hour_of_Play'], inplace=True)

 We will drop 3869 duplicates

In [31]:
# Search for other duplicates
df.duplicated().sum()

0

In [32]:
# Confirm the type of 'Hour_of_Play'
df['Hour_of_Play'] = (pd.to_datetime(df['Hour_of_Play'], format='%H:%M:%S')
                      .dt.time)

In [33]:
# Change the format of 'Genre'
df['Genre'] = df['Genre'].apply(lambda x: x.title())

We only found null values in the columns `Track` and `Artist` but it does not affect our analysis so we kept them and change the NaN value for the string `Unknown` and now we have 0 null values.

Then we found some records when the same user `User_ID` played two songs at the same time `Hour_of_Play` which is not possible, so we delete them and kept just the first record. After, we search for other duplicates but there are not.

Finally we confirm that the column `Hour_of_Play` was type `datetime` for the analysis.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61210 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User_ID          61210 non-null  object
 1   Track            61210 non-null  object
 2   Artist           61210 non-null  object
 3   Genre            61210 non-null  object
 4   City             61210 non-null  object
 5   Hour_of_Play     61210 non-null  object
 6   Day_of_the_Week  61210 non-null  object
dtypes: object(7)
memory usage: 3.7+ MB

In [35]:
# Save DataFrame in csv file
df.to_csv('../Data/Processed/processed_data.csv', index=False)

We can say that we conclude 61.210 correct entries and 7 columns.