# <span style="color:#0F19C9">Contents</span>

- [Initial exploration](#initial-exploration)
- [Fixing problems](#fixing-problems)
- [Improving the data](#improving-the-data)

# <span style="color:#0F19C9">Initial Exploration</span>

In [1]:
# Import needed libraries
import pandas as pd

In [2]:
# Read raw file with data and show two random rows
df = pd.read_csv('../Data/Raw/music_project_en.csv')
df.sample(2)

,userID,Track,artist,genre,City,time,Day
26173,7DC5EC6D,Sing,Bop's,rock,Springfield,20:37:01,Friday
31493,E0D3A62B,18. Les cyclopes,Kenneth Gilbert,classical,Shelbyville,14:42:56,Monday

In [3]:
# Show the general information of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

# <span style="color:#0F19C9">Fixing problems</span>

- Make sure the column names are correctly written and correct mean.
- Make sure the rows are well written on every column

In [4]:
# Fix bad spaces, capital letters and mean manually
df.columns = ['User_ID', 'Track', 'Artist', 'Genre',
              'City', 'Hour_of_Play', 'Day_of_the_Week']
df.columns

Index(['User_ID', 'Track', 'Artist', 'Genre', 'City', 'Hour_of_Play',
       'Day_of_the_Week'],
      dtype='object')

In [5]:
# Write 10 samples of the first three columns
df[['User_ID', 'Track', 'Artist']].sample(10)

,User_ID,Track,Artist
53910,DB27B897,Arahalva,DJ Nikewa & Olesya König
61855,F8987832,Nuu Ban Nan Sheng,At17
41202,C6F0E8B8,Italian Summer,Brian Crain & Rita Chepurchenko
20480,2E75B136,Ursula,Tinavie
61043,57F3A256,Anytime Soon,Blu Mar Ten
15889,6239CD43,Amor Infinito,Leo Almaraz
55395,DF0C399C,Var. 15 Canone alla Quinta in moto contrario,Catrin Finch
33776,C89D3138,NaN,NaN
41979,90DC362C,I Do,Robin Munson
11493,7A9710EC,New Year's Project,Further Seems Forever

In [6]:
# Count unique records and null values of the columns
for col in ['User_ID', 'Track', 'Artist']:
    print(
        f'The column {col} has {df[col].nunique()} unique and {df[col].isna().sum()} null values.')

The column User_ID has 41748 unique and 0 null values.
The column Track has 39666 unique and 1343 null values.
The column Artist has 37806 unique and 7567 null values.

The columns `User_ID` has 41.748 unique records of 8 characters, some of them are 7 but we asume the first number is 0 and that there are no problems with the format.

The track and artist name correspond to the way the distributor filled the form. We are more concerned with the way that we found many null values, that we are going to fill later.

In [7]:
# Write 10 samples of the column 'Genre'
df['Genre'].sample(10)

43297          world
29216          dance
4503     alternative
5631            folk
47169          death
3155             pop
12264            new
13670         ruspop
35223            pop
15884            pop
Name: Genre, dtype: object

In [8]:
# Convert column to string values
df['Genre'] = df['Genre'].astype(str)

# Search for implicit duplicates
sorted(df['Genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hip',
 'hip-hop',
 'hiphop',
 'historisch',
 'holiday',
 'hop',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'nan',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 'türk',
 'türkçe',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 'ïîï']

In [9]:
# Change the genres of 'hip' and 'hop' for 'hiphop'
df['Genre'].replace({'hip': 'Hip-Hop',
                     'hop': 'Hip-Hop',
                     'hiphop': 'Hip-Hop'},
                    inplace=True)

# Format record with the first capital letter
df['Genre'] = df['Genre'].apply(lambda x: str(x).title())

We had to change the format and write the first letter of the genre in capital letters. And we search for explicit duplicates when we found the word `hip` as a genre.

In [10]:
# Write 10 samples of the three last columns
df[['City', 'Hour_of_Play', 'Day_of_the_Week']].sample(10)

              City Hour_of_Play Day_of_the_Week
7972   Shelbyville     14:48:38          Monday
7186   Springfield     09:21:08          Friday
26975  Springfield     13:08:18          Friday
49376  Springfield     09:19:22          Monday
44007  Springfield     14:15:31       Wednesday
30772  Shelbyville     20:05:34          Monday
22492  Shelbyville     08:18:37          Monday
9985   Springfield     08:21:57          Monday
63718  Springfield     14:01:49       Wednesday
5210   Springfield     13:07:51       Wednesday

The last three columns have no problem. Maybe we will have to change the type of data later, but it is not something that require our attention now.

# <span style="color:#0F19C9">Improving the data</span>

We will fix the null values, the duplicates and finally improve the type of data for each column.

In [11]:
# Sum null values from the DataFrame
df.isna().sum()

User_ID               0
Track              1343
Artist             7567
Genre                 0
City                  0
Hour_of_Play          0
Day_of_the_Week       0
dtype: int64

In [12]:
# Fill null values of 'Track' and 'Artist'
df.fillna('Unknown', inplace=True)

In [13]:
# Search for problem duplicates
df.duplicated(subset=['User_ID', 'Hour_of_Play']).sum()
df.drop_duplicates(subset=['User_ID', 'Hour_of_Play'], inplace=True)

In [14]:
# Search for other duplicates
df.duplicated().sum()

0

In [15]:
# Confirm the type of 'Hour_of_Play'
df['Hour_of_Play'] = (pd.to_datetime(df['Hour_of_Play'], format='%H:%M:%S')
                      .dt.time)

We only found null values in the columns `Track` and `Artist` but it does not affect our analysis so we kept them and change the NaN value for the string `Unknown` and now we have 0 null values.

Then we found some records when the same user `User_ID` played two songs at the same time `Hour_of_Play` which is not possible, so we delete them and kept just the first record. After, we search for other duplicates but there are not.

Finally we confirm that the column `Hour_of_Play` was type `datetime` for the analysis.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61210 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User_ID          61210 non-null  object
 1   Track            61210 non-null  object
 2   Artist           61210 non-null  object
 3   Genre            61210 non-null  object
 4   City             61210 non-null  object
 5   Hour_of_Play     61210 non-null  object
 6   Day_of_the_Week  61210 non-null  object
dtypes: object(7)
memory usage: 3.7+ MB

In [17]:
# Save DataFrame in csv file
df.to_csv('../Data/Processed/processed_data.csv', index=False)

We can say that we conclude 61.210 correct entries and 7 columns.